<div class="chat-header">
  <div class="left-header">
  <div class="chat-name">
    <p>trump</p>
  </div>
  </div>
  <div class="right-header">
  <div class="chat-end">
    <a href="#">チャットを終了する</a>
  </div>
  </div>
</div>
  <div class="chat-body">
    <div class="chatrooom-contents">
      <div class="upper-contents">
        <div class="chatroom-name">Hinata</div>
        <div class="chatroom-time">2020/10/08(Thu)08:46:59</div>
        </div>
        <div class="lower-contents">
        <div class="chatroom-message">七海いるか？</div>
      </div>
    </div>

    <div class="chatrooom-contents">
      <div class="upper-contents">
        <div class="chatroom-name">Nagito</div>
        <div class="chatroom-time">2020/10/08(Thu)08:46:59</div>
        </div>
        <div class="lower-contents">
        <div class="chatroom-message">僕は違うよ</div>
      </div>
    </div>
    
  </div>
  <div class="chat-footer">
    <div class="form-input">
      <input placeholder= "type a message" class="message-form">
        <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
        </label>
    </div>
      <input type = "submit", value="送信", class="submit-button">
  </div>