<div class="chat-contents">
  
  <div class="upper-contents">
    <div class="chatroom-name">
      <!-- 投稿したユーザー名情報を出力する --> 
    </div>
    <div class="chatroom-time">
      <%# 投稿した時刻を出力する %>
      <%= l message.created_at%>
    </div>
  </div>
  
  <div class="lower-contents">
    <div class="chatroom-message">
    <%# 投稿したメッセージ内容を記述する %>
    </div>
  </div>

</div>