<div class="side-header">
<div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class="chat-create">
    <a href="#">チャットを作成する</a>
    </div>
</div>
<div class="side-body">
<div class="room">
      <div class="room-name"><a href="#">スマホの使い方教えて</a></div>
    </div>
    <div class="room">
      <div class="room-name"><a href="#">明日のスケジュール</a></div>
    </div>
  </div>
</div>