.wrapper{
  display: flex;
}

.side-bar{
  width: 300px;
  height: 100vh;
}

.side-header{
  height: 100px;
  background-color: #253141;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  color:#fafafa;
  font-size: 16px;
  text-decoration: none;
}

.chat-create a{
  padding: 14px;
  border: 1px solid lightblue;
  color: deepskyblue;
  font-size: 10px;
  text-decoration: none;
}

.side-body{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0px 20px;
}

.room{
  padding: 20px 0 40px;
}

.room-name a{
  display: block;
  color: white;
  text-decoration: none;
}

.chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat-header{
  height: 100px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
}

.chat-name{
  margin-top: 36px;
  font-size: 24px;
  color: #333;
}

.chat-end{
  margin-top: 40px;
 }

.chat-end a{
  padding: 20px;
  border: 1px solid darkred;
  color: darkred;
  text-decoration: none;
}

.chat-body{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0px;
  overflow: scroll;
}
.chat-contents{
  margin: 10px 0;
}

.upper-contents{
  display: flex;
}

.chatroom-name{
  font-size: 16px;
  color: #434A54;
}

.chatroom-time{
  font-size: 12px;
  color: #999999;
  padding-left: 10px;
}

.lower-contents{
  margin-top: 10px;
}

.chatroom-message{
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
}



.chat-footer{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}

.form-input{
  background-color: white;
  width: 100%;
  display: flex;
}

.message-form{
  padding-left: 10px;
  background-color: white;
  height: 50px;
  width: 100%;
  border: none;
}

.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px ;
  text-align: center;
}

.hidden{
  display: none;
}

.submit-button{
  height: 50px;
  padding: 0 20px;
  background-color: #38AEF0;
  color: white;
  font-size: 16px;
  border: none;
  margin-left: 15px;
}